<section data-ng-controller="AdminRoomsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Article</h1>
    </div>
    <div class="col-md-12">
        <div data-ng-show="error" class="text-danger">
            <strong data-ng-bind="error"></strong>
        </div>
    </div>
    <div class="col-md-12">
        <form name="roomForm" class="form-horizontal" data-ng-submit="update(roomForm.$valid)" novalidate>
            <fieldset>
                <div class="form-group" ng-class="{ 'has-error' : submitted && roomForm.title.$invalid}">
                    <label class="control-label" for="name">Title</label>
                    <div class="controls">
                        <input name="name" type="text" data-ng-model="room.name" id="name" class="form-control" placeholder="Room Name" required>
                    </div>
                    <div ng-show="submitted && roomForm.title.$invalid" class="help-block">
                        <p ng-show="roomForm.name.$error.required" class="text-danger">Name must be required</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : submitted && roomForm.description.$invalid}">
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <textarea name="description" data-ng-model="room.description" id="description" class="form-control" cols="30" rows="10" placeholder="Description" required></textarea>
                    </div>
                    <div ng-show="submitted && roomForm.description.$invalid" class="help-block">
                        <p ng-show="roomForm.description.$error.required" class="text-danger">Description must be required</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="category">Category:</label>
                    <select name="category" id="category" data-ng-options="option.name for option in categories track by option._id" data-ng-model="selectedOption"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
            </fieldset>
        </form>
    </div>
</section>