<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>{{title}}</title>

	<!-- General META -->
	<meta charset="utf-8">
    <base href="/">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<!-- Semantic META -->
	<meta name="keywords" content="{{keywords}}">
	<meta name="description" content="{{description}}">

	<!-- Facebook META -->
	<meta property="fb:app_id" content="{{facebookAppId}}">
	<meta property="og:site_name" content="{{title}}">
	<meta property="og:title" content="{{title}}">
	<meta property="og:description" content="{{description}}">
	<meta property="og:url" content="{{url}}">
	<meta property="og:image" content="/img/brand/logo.png">
	<meta property="og:type" content="website">

	<!-- Twitter META -->
	<meta name="twitter:title" content="{{title}}">
	<meta name="twitter:description" content="{{description}}">
	<meta name="twitter:url" content="{{url}}">
	<meta name="twitter:image" content="/img/brand/logo.png">

	<!-- Fav Icon -->
	<link href="/modules/core/img/brand/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic">

	<!--Application CSS Files-->
	{% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">{% endfor %}

	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    <script type="text/javascript" src="http://localhost:3001/socket.io/socket.io.js"></script>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom" class="frontend-one-page">
    <!--BEGIN PAGE LOADER-->
    <!--<div id="page-loader"><img src="http://next-themes.com/mtek/code/frontend/assets/images/preloader.gif" alt=""/></div><-->
    <!--END PAGE LOADER-->
    <!--BEGIN CONTENT-->
    <header>
        <div class="bg-overlay pattern">
            <nav role="navigation" class="navbar navbar-custom navbar-fixed-top" data-ng-include="'/modules/core/views/header.client.view.html'"></nav>
        </div>
    </header>
    <!--END CONTENT-->


    <!--<div class="fluid container">
        <div class="page-header-topbar" data-ng-include="'/modules/core/views/header.client.view.html'">
        </div>
        <div class="page-horizontal-menu">
            <div id="horizontal-menu" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/"><i class="icon-home"></i><span>Home</span></a></li>
                    <li><a href="/settings/profile"><i class="icon-user"></i><span class="menu-title">User Profile</span></a></li>
                    <li><a href="/publicRooms"><span class="menu-title">Public Rooms</span></a></li>
                    <li><a href="/privateRooms"><span class="menu-title">Private Rooms</span></a></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
        <div id="wrapper">
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
            <div class="copyright"> Create by: SHARE
                <div class="pull-left">©2014 SHARE - Sharing community</div>
            </div>
        </div>
    </div>-->
    <!--Embedding The User Object-->
    <script type="text/javascript">
        var user = {{ user | json | safe }};
    </script>

    <!--Application JavaScript Files-->
    {% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>{% endfor %}
    {% for jsFile in jsModuleFiles %}<script type="text/javascript" src="{{jsFile}}"></script>{% endfor %}
    {% if process.env.NODE_ENV === 'development' %}
    <!--Livereload script rendered -->
    <script type="text/javascript" src="http://{{request.hostname}}:35729/livereload.js"></script>
    {% endif %}
    <script>
        jQuery(document).ready(function () {
            "use strict";
            JQueryResponsive.init();
            Layout.init();
        });
    </script>
</body>

</html>